<%= form_with(model: article, url: v1_articles_path, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form-body">
    <div class="field">
      <%# form.label :title %>
      <%= form.text_field :title, placeholder: t('.placeholder.title'), class: 'input-form input-title' %>
    </div>

    <div class="field">
      <%# form.label :body %>
      <%= form.text_area :body, placeholder: t('.placeholder.body'), class: 'input-form input-body' %>
    </div>
  </div>

  <div class="actions">
    <button id="btn-preview" class="publish-button" ><%= t('.preview') %></button>
    <%= form.submit t('.publish'), class: 'publish-button' %>
  </div>
<% end %>

<div id="live-preview-html">
  <button id="close-preview" class="publish-button" ><%= t('.close-preview') %></button>
  <div></div>
</div>